<h1>Spellbook Keeper</h1>
<div class='nav'>
   <button id='spells' class='nav-link' disabled onclick="a('#Spells')">Spells</button>
   </br><button id='spellbooks' class='nav-link' onclick="a('#Spellbooks')">My Spellbooks</button>
   </br><button id='manage' class='nav-link' onclick="a('#Manage')">Manage</button>
</div>
<hr/>